# Core dependencies
numpy
pandas
scipy

# PyTorch and LLaMA fine-tuning
torch==2.4.0  # Match with pytorch-cuda version
transformers>=4.34.0
accelerate
peft
bitsandbytes
trl  # Required for HF fine-tuning

# PDF Processing
PyPDF2

# Model evaluation
evaluate

# Fixing known dependency conflicts
entrypoints
jsonschema
nbformat
setproctitle
markdown-it-py~=1.0

tiktoken
sentencepiece
protobuf